<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1> Codial / <%=title%></h1>
    <a href="/users/profile">profile</a>
    <section id="feed-posts">
        <h4>Posts</h4>
         <% if(locals.user){ %> <!--only the authenticated user should able to write comment, but it might possible that user can go in inspect and make changes in code so we should check authentication in controller -->
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
        <div id="posts-list-container">
            <ul>
                 <% for(post of posts){%> <!--how posts is accesable from here -->
                    <% if(locals.user && locals.user.id == post.user.id){%>
                    <small>
                        <a href="/posts/destroy/<%=post.id%>">X</a>
                    </small>
                    <%}%>
                    <li>
                        <%=post.content%>
                    </li>
                    <span>
                        <%= post.user.name%>
                    </span>
                    <div class="post-comments">
                        <% if(locals.user){%>
                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Type here to add comment...">
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <input type="submit" value="Add comment">
                            </form>
                        <%}%>

                        <div class="post-comments-list">
                            <ul id="post-comments-<%=post._id%>">
                                <% for(comment of post.comments){%>
                                    <p>
                                        <% if(locals.user && locals.user.id == comment.user.id){%>
                                            <small>
                                                <a href="/comments/destroy/<%=comment.id%>">X</a>
                                            </small>
                                        <%}%>
                                        <%= comment.content%> <!-- momment.content = post.comments.content means we are in comment.js file from there we are fetching comments-->
                                        <br>
                                        <small>
                                            <%=comment.user.name%> <!-- comment.user.name means now we are in user.js file and from there we are fetching names-->
                                        </small>
                                    </p>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                <%}%>
            </ul>
        </div>
    </section>
</body>
</html>